/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991px) {
    .navbar ul {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .mobile-header .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .mobile-header .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 1;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .mobile-header .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .mobile-header .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .mobile-header .menu-drawer ul {
        margin-top: 32px;
    }

    .mobile-header .menu-drawer ul a {
        display: block;
        padding: 14px 0px;
        color: #333;
        font-weight: 500;
    }

    .separate {
        border-top: 1.5px solid #b0aeae;
    }

    .hero-wrap .info {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .hero-wrap .desc {
        width: 80%;
        text-align: center;
        margin: 30px auto auto;
    }

    .hero-img {
        display: none;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guides .guide-item {
        flex: 1;
        margin: 0;
    }

    .featured .list {
        grid-template-columns: 1fr 1fr;
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block, .stats .info {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }

    .stats .info {
        order: 1;
        padding: 0;
    }

    .stats .sub-title {
        width: 70%;
    }

    .stats .info .desc {
        width: 100%;
    }

    .stats .row-qty {
        flex-direction: row;
    }

    .stats .qty {
        font-size: 5rem;
    }

    .stats .desc {
        font-size: 1.5rem;
    }

    .subscription .image {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .mobile-header .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }
    .navbar .actions {
        display: none;
    }
}
